hanzo-fund
  .fund-info.fund-info.fund-info
    background-color: #13151E

  .form-content.form-content.form-content:not(.fund-info)
    margin-bottom: 0

  button
    margin-top: 1rem
    width: 100%

  // .halt.halt.halt
  //   color: #FF5050 !important

  //   h2
  //   button
  //     color: #FF5050 !important
  //     border-color: #FF5050 !important
