$spacing = 2rem

hanzo-user
  gmap
    height: 360px

  .form-title.m-card-header
    h2
      float: left
    button
      float: right

  .user-info.user-info.user-info.user-info.user-info.user-info
    background-color: #13151E
    position: relative

    span
      font-size: .75rem

  h1
    color: white !important
    margin: 0 !important

  .user-image
    position: absolute
    top: 50%
    transform: translateY(-50%)
    max-width: 38vw
    width: 100%
    border-radius: 2px
    max-height: 100%
    text-align: center

    img
      width: 100%

    .small
      width: 200px

  .account-status
    width: 100%

  .mint-burn
    margin-top: 1rem

hanzo-users
  .header
    h2
      float: left
    button
      float: right
      margin-left: $spacing
      width: auto

      &.open
        opacity: .5
