hanzo-admin
  .admin-info.admin-info.admin-info
    background-color: #13151E

  .form-content.form-content.form-content:not(.admin-info)
    margin-bottom: 0

  .halt.halt.halt
    color: #FF5050 !important

    h2
    button
      color: #FF5050 !important
      border-color: #FF5050 !important
